
<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {%block style%}{%endblock%}
    <link rel="shortcut icon" href="{% static 'logo.png'%}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="{%url 'main_page'%}" class="navbar-brand">
        <img src="{% static 'logo.png'%}" width="40" hight="40" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Навигация">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{%url 'main_page'%}" class="nav-link">Главная страница</a>
            </li>
            <li class="nav-item active">
                <a href="{%url 'list'%}" class="nav-link">Организации</a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">Заказы</a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">Помощь</a>
            </li>
        </ul>
        <form class="authorization my-2 my-lg-0 ">
            <a style="color: #ffffff" class="registration-btn btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
               data-target="#sign_in">
                Авторизация
            </a>
        </form>
    </div>
</nav>

{%block content%}{%endblock%}


<div class="modal fade" id="sign_in" tabindex="-1" role="dialog"
     aria-labelledby="sign_in" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sign_in_label">Авторизация</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <a href="{%url 'login'%}" type="button" class="btn btn-primary btn-lg btn-block">Вход</a>
                    <a href="{%url 'registration'%}" type="button" class="btn btn-secondary btn-lg btn-block">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>