{%extends 'base.html'%}
{%load static%}
{%block title%}
В Работе
{%endblock%}
{%block content%}
<br>
<div class="container-fluid">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
            <div class="col">
                <img src="{% static 'logo.png'%}" alt="" class="w-50">
                <h4>Названик заказа</h4>
                <h6>Исполнитель: Строй-Мастер</h6>
                <p>Описание заказа. Бла-бла-бла.</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}