{%extends 'base.html'%}
{%load static%}
{%block title%}
Личный кабинет
{%endblock%}
{%block content%}
<div class="container" wfd-id="0">
    <br>
    <div class="row" wfd-id="5">
        <div class="col-md-4 order-md-2 mb-4" wfd-id="68">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted" wfd-id="88">Ваши заказы</span>
                <span class="badge badge-secondary badge-pill" wfd-id="87">Число заказов</span>

            </h4>
            <ul class="list-group mb-3" wfd-id="72">
                <li class="list-group-item d-flex justify-content-between lh-condensed" wfd-id="84">
                    <div wfd-id="86">
                        <h6 class="my-0">Название заказа</h6>
                        <small class="text-muted">Описание</small>
                    </div>
                    <span class="text-muted" wfd-id="85">120₽</span>
                </li>
            </ul>
            <h4><button class="btn btn-primary  btn-block" type="submit" >Добавить заказ
            </button></h4>
        </div>
        <div class="col-md-8 order-md-1" wfd-id="6">
            <h4 class="mb-3">Личные данные</h4>
            <form class="needs-validation" novalidate="" wfd-id="7">
                <div class="row" wfd-id="61">
                    <div class="col-md-4 mb-3" wfd-id="65">
                        <label for="firstName" wfd-id="67">Имя</label>
                        <label type="text" class="form-control" id="firstName">{{user.first_name}}</label>
                    </div>
                    <div class="col-md-4 mb-3" wfd-id="65">
                        <label for="secondName" wfd-id="67">Фамилия</label>
                        <label type="text" class="form-control" id="secondName">{{user.second_name}}</label>
                    </div>
                    <div class="col-md-4 mb-3" wfd-id="65">
                        <label for="patronymic" wfd-id="67">Отчество</label>
                        <label type="text" class="form-control" id="patronymic">{{user.patronymic}}</label>
                    </div>
                </div>

                <div class="mb-3" wfd-id="55">
                    <label for="login" wfd-id="60">Login</label>
                    <div class="input-group" wfd-id="56">
                        <div class="input-group-prepend" wfd-id="58">
                            <span class="input-group-text" wfd-id="59">@</span>
                        </div>
                        <label type="text" class="form-control" id="login">{{user.login}}</label>
                    </div>
                </div>

                <div class="mb-3" wfd-id="51">
                    <label for="email" wfd-id="53">Email <span class="text-muted" wfd-id="54"></span></label>
                    <label type="text" class="form-control" id="email">{{user.email}}</label>
                </div>
                <div class="mb-3" wfd-id="51">
                    <label for="phone_number" wfd-id="53">Номер телефона <span class="text-muted"
                                                                               wfd-id="54"></span></label>
                    <label type="text" class="form-control" id="phone_number">{{user.phone_number}}</label>
                </div>
                <div class="mb-3" wfd-id="51">
                    <label for="date" wfd-id="53">Дата рождения <span class="text-muted" wfd-id="54"></span></label>
                    <label type="date" class="form-control" id="date">{{user.birthday}}</label>
                </div>
                <div class="mb-3" wfd-id="51">
                    <label for="status" wfd-id="53">Статус на сайте<span class="text-muted" wfd-id="54"></span></label>
                    <label type="date" class="form-control" id="status">{{user.status}}</label>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" wfd-id="107">Редактироват данные
                </button>
            </form>
        </div>
    </div>

</div>
{%endblock%}